* {
    box-sizing: border-box;
}

body {
    padding-top: 1px;
}

.back {
  background-color: #EAF2EF;
  background-repeat: no-repeat;
  background-size: cover; }

#page {
    background-size: contain;
    background-repeat: no-repeat;
}

#text-container {
    text-align: center;
    font-family: "Josefin Sans";
    color: white;
    padding: 60px 30px;
    line-height: 1.8;
    background-color: #001749;
}

.btn > a:hover {
    text-decoration: none;
}

.btn:hover {
    background-color: white;
}

.intro_button {
    background-color: #f4e409;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    width: 100%;
}

.dc-select-menu,
.number-display {
    font-size: 25px;
}

a.reset {
    float: right;
}

td.dc-table-label {
    display: none;
}

td, th {
    padding: 10px;
}

.dc-chart g.row text {
    fill: black;
}


div#topplayer-datatable.dc-chart,
div#tryscorer-datatable.dc-chart {
    background-color: white;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 30px;
}

.navbar {
  padding: .8rem;
  background-color: #2F2963;
  color: white;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
  color: white;
}
.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
  
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #003982;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #454372;
}

.footer {
    background-color: #731963;
    width: 100%;
    color: white;
    text-align: center;
}

/*---Media Queries --*/
@media (max-width: 360px) and (min-width:1px) {
#triesPerTeamChart, #chart-here{
        transform: scale(0.5);
        transition: .5s;
}
}

@media (max-width: 500px) and (min-width: 360px) {
.sugarmedianumbers{
    display:block;
}
.sugarmediagraph, .caloriesmediachart{
    display:none;
}
.corner2{
    border-radius: 0px 0px 25px 25px;
}
.corner6, .cornerx, .corner3, .size{
    border-radius: 0px 0px 0px 0px;
}.navbar {
    border-radius: 25px 25px 0px 0px;
}
.dc-select-menu{
    margin-top: 45px;
}}
@media (max-width: 600px) and (min-width: 500px) {
#sugarschart, #calorieschart{
    transform: scale(1);
    transition: 0.5s;
    margin: 0px;
}
.mediabox{
    height: 900px;
}
.mediabox1{
    height: 940px;
}
.corner2{
    border-radius: 0px 0px 25px 25px;
}
.corner3, .cornerx, .size{
    border-radius: 0px 0px 0px 0px;
}
.navbar {
    border-radius: 25px 25px 0px 0px;
}
.dc-select-menu{
    margin-top: 30px;
}}
@media (max-width: 767px) and (min-width: 600px) {
#sugarschart, #calorieschart{
    transform: scale(1.2);
    transition: 0.5s;
    margin: 60px;
}
.mediabox{
    height: 1050px;
}
.mediabox1{
    height: 1100px;
}
.corner2{
    border-radius: 0px 0px 25px 25px;
}
.corner3, .corner6, .corner5, .cornerx, .corner {
    border-radius: 0px 0px 0px 0px;
}
.navbar {
    border-radius: 25px 25px 0px 0px;
}
.dc-select-menu{
    margin-top: 35px;
}
}
@media (max-width: 991px) and (min-width: 767px) {
#sugarschart, #calorieschart{
    transform: scale(0.8);
    transition: 0.5s;
    margin: -50px;
}
.mediabox{
    height: 719px;
}
.mediabox1{
    height: 763px;
}
.corner5{
    border-radius: 0px 0px 0px 0px;
}
.corner6{
    border-radius: 0px 0px 0px 25px;
}
.corner2{
    border-radius: 0px 0px 25px 0px;
}
.corner3, .cornerx{
    border-radius: 0px 0px 0px 0px;
}
.navbar {
    border-radius: 25px 25px 0px 0px;
}
}

